.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.rds
*.prm
*.geo
*.pop
*.cas
data/
temp/
output/
local/
Population/
Cases/
Shapefiles/

# Large data files
..Rcheck/
inst/extdata/thai_bound/
inst/extdata/population_cache/
*.shp
*.zip
